
body {
    width: 960px;
    margin: 0 auto;
}
.header{
    background-color:bisque;
    font-size: 45px;
    text-align: center;
    height: 100px;
}
span{
    color: hotpink;
}
.aside{
    background-color: aqua;
    float: left;
    width: 20%;
    height: 300px;
}
.main{
    background-color: khaki;
    float: left;
    width: 80%;
    height: 300px;
}
.main input[type="submit"]{
    float: right;
}
table{
    margin:0 auto;
}
.footer{
    background-color:grey;
    height: 350px;
    width: 960px;

}

